@import '../../variables.scss';

.container {
  color: $white;
  height: 100vh;
  background: $darkspaceblue;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    h1 {
      margin-bottom: 20px;
      font-size: 30px;
    }

    p {
      margin-bottom: 50px;
      font-size: 12px;
      line-height: 1.5;
    }

    section {
      &:nth-child(1) {
        width: 30%;
        text-align: center;
      }

      &:nth-child(2) {
        width: 40%;
      }

      img {
        width: 173.973005px;
        height: 350px;
      }
    }
  }
  
  .option {
    margin: 15px 0;

    .button {
      width: 130px;
      display: inline-block;
      padding: 15px;
      border: 0.5px solid rgba(220, 220, 220, 0.5);
      border-radius: 5px;
      font-weight: 200;
      cursor: pointer;
      transition: all 0.25s;
      margin-bottom: 10px;
      font-size: 12px;
    }

    &.active {
      .button svg {
        color: $gold;
        border-color: $gold;
      }
    }

    .button:hover {
      svg {
        color: $gold;
        border-color: $gold;
      }
    }

    .label {
      margin-left: 10px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 20px 40px;
  color: $white;
  width: calc(100% - 80px);

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
